.body-container {
  background-color: #ffb55e;
  justify-content: center;
  /* width: 100%; */
  padding: 20px 30px 200px 20px;
}

.body-container h1 {
  text-align: center;
  /* border: 1px solid white; */
  color: white;
  padding: 10px 20px 10px 20px;
}

.main-container {
  max-width: 1280px;
  margin: auto;
  background-color: white;
}

.main-section {
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
  width: 100%;
  margin-bottom: 50px;
  background-color: white;
}

.checkout-section {
  width: 600px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.contact-form .title {
  text-align: center;
  font-style: bold;
  font-weight: bold;
  font-size: 20px;
}

.contact-form p {
  font-weight: bold;
}

.contact-form input,
textarea {
  appearance: none;
  outline: none;
  height: 50px;
  background-color: #c4c4c4;
  color: white;
  padding: 10px 30px 10px 20px;
  max-width: 90%;
  width: 90%;
}

.inp-messages {
  height: 200px;
}

.contact-list {
  margin-top: 50px;
  font-size: 20px;
  margin-left: 10px;
}

.contact-item {
  align-items: center;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.contact-item p {
  display: block;
  margin-left: 30px;
  margin-bottom: 0px;
}

.btn-send {
  margin-top: 20px;
  display: block;
  margin-right: 10px;
  padding-left: 30px;
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 6px;
  outline: none;
  width: 90%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image img {
  width: 100%;
}


.btn-send:hover {
  background-color: gainsboro;
}


